/* The beginnings of a house style template */

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; /* Not checked */
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  --site-background-color: #f1f1f1;
  --title-font-color: #ffffff;

  --header-font-color: #757575; /* headers, not the header section */
  --std-light-font-color: #ffffff;
  --std-light-font-hover: rgb(161, 165, 217);

  --std-dark-font-color: #000;
  --std-dark-font-hover: rgb(10, 17, 122);

  --primary-color: rgb(10, 17, 122);

  color: var(--std-font-color);
  background-color: var(--site-background-color);
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  height: 100%;
}

/* this is applied in main.jsx at the highest level, hence is the starting point other than the margins and padding applied in body */
#root {
  text-align: center;
}

a {
  text-decoration: none;
}
